*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}

.container{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    width: auto;
    height: auto ;


    padding: 25px;
    font-size: 15px;
    background-color:rgb(188, 218, 250);
    background: linear-gradient(to top, #fff 10%, rgba(42, 141, 103, 0.4) 90%) no-repeat;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(42, 141, 125, 0.4) 90%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 120px ;

    height: auto ;
    margin-left: 50px ;
    margin-right: 50px ;
    margin-bottom: 300px ;

}html{

    width: auto;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(135deg, #b2f49e 10%, #ffffff 100%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  .btn{
    display: inline-block;
    margin: 10px;
    color: white;
    background: rgb(0, 123, 154);
    padding: 10px 14px;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    width: auto;
}
.kk{
    Width : 100%;
    position:absolute;
    z-index:-1;
    opacity: 0.5;
    background-color: rgb(175, 32, 218);
    height: 20cm;
    margin-top: 0cm;
}
button{
    width: 130%;
    margin-top: 50px;

}
h2{

    margin-bottom: auto;
    background-color: rgb(180, 186, 253);
    width: 70%;
    border-radius: 20px;
    margin-left: auto;
    outline: none;

    height: 3.1cm;
    padding: 25px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 80px;
    margin-right: auto;
}

